.DS_Store
# Default ignored files
client/shelf/
client/workspace.xml
# Datasource local storage ignored files
client/dataSources/
client/dataSources.local.xml
# Editor-based HTTP Client requests
client/httpRequests/

# Server database
server/assets/dbdata.txt

# intelliJ files
*.idea*
*.iml
*.class
*/out/*

